@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.carousel {
  background-image: url("../public/beranda/hero-beranda.svg");
  height: 716px;
  background-size: contain;
}
.welcome {
  background-image: url("../public/beranda/bg-welcome.svg");
}
.testi {
  background-image: url("../public/beranda/bg-testi.svg");
  background-size: cover;
}
.iklan {
  background-image: url("../public/beranda/iklan.svg");
  background-size: contain;
}

.footer {
  background-image: url("../public/beranda/bg-footer.svg");
  background-size: contain;
}
.contact {
  background-image: url("../src/assets/About/bgnya2.svg");
  background-size: contain;
}
.about {
  background-image: url("../src/assets/About/punyaabout.svg");
  background-size: contain;
}